html {
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(74, 74, 74);
  margin: 0;
  padding: 0;
  background-color: rgb(243, 245, 245);
}

/* header */

header {
  display: flex;
  height: 4rem;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 245, 245);
  z-index: 1;
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-left: 1.5rem;
}

header nav {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav span {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav .navBorder {
  border-right: 1rem solid rgb(149, 224, 223);
}

header nav .navMargin {
  margin-right: 1.5rem;
}

.mobileNav {
  display: none;
}

@media only screen and (max-width: 480px) {
  header {
    display: none;
  }

  .mobileNav {
    display: flex;
    height: 4rem;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: white;
    top: 0;
    left: 0;
  }

  .mobileNav span {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

/* main banner */

.mainBanner {
  display: flex;
  margin-top: 4rem;
  background-color: rgb(216, 216, 216);
  align-items: center;
  color: rgb(74, 74, 74);
  font-size: 1.5rem;
}

.mainBanner h1, .mainBanner p, .button {
  margin-left: 1.5rem;
}

.mainBanner .imgBanner {
  height: auto;
  width: 60%;
  margin: 2rem 1.5rem;
}

.button {
  display: flex;
  background-color: rgb(74, 74, 74);
}

.button h3 {
  color: white;
  margin: 0.5rem auto;
}

@media only screen and (max-width: 480px) {
  .mainBanner {
    flex-direction: column;
  }

  .mainBanner .imgBanner {
    width: 100%;
    margin: 0;
  }

  .contentBanner {
    padding: 2rem 0;
    margin: 0;
    width: 100%;
  }
  .button {
    width: 90%;
    background-color: rgb(150, 150, 150);
    margin: 0 1rem;
  }

  .mainBanner h1 {
    margin: 0 1rem;
  }

  .mainBanner p {
    margin: 2rem 1rem 1.5rem 1rem;
  }
}

/* content1 */

.content1 {
  display: flex;
  background-color: inherit;
  justify-content: space-around;
  margin: 0;
  padding: 2rem 1.5rem;
}

.content1 .imgInfo {
  height: auto;
  width: 100%;
}

.content1 .infos {
  width: 60%;
  margin-right: 1.5rem;
}
 .content1 .info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid rgb(216, 216, 216);
   border-left: 1px solid rgb(216, 216, 216);
   margin: 1px;
 }

 .content1 .sideInfo {
   width: 40%;
 }

 .content1 .info img {
   height: auto;
   width: 35%;
   margin: 1rem;
 }

.content1 .cont {
  width: 65%;
}

.content1 h2, .content1 p {
  margin-bottom: 0.5rem;
}

.guest {
  background-color: rgb(216, 216, 216);
}

.content1 a {
  text-decoration: none;
  color: rgb(88, 151, 222);
}

@media only screen and (max-width: 480px) {
  .infos {
    display: none;
  }
  .content1 {
    padding: 0;
  }

  .content1 .sideInfo {
    width: 100%;
  }

  .content1 .info {
    width: 100%;
    flex-direction: column;
    border: none;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
  }

  .content1 .cont {
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 4rem;
  }

  .content1 .info img {
    height: auto;
    width: 100%;
    margin: 1rem;
    align-self: center;
  }

  .guest  {
    background-color: inherit;
  }

  .guest .cont {
    margin-bottom: 2rem;
  }
}

/* content2 */

.content2 {
  background-color: rgb(216, 216, 216);
  padding-top: 2rem;
  margin: 0;
}

.content2 h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}

.content2 .courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 4.5rem;
  padding: 0;
}

.content2 .course {
  background-color: rgb(243, 245, 245);
  margin: 0 1rem 2rem 0;
  height:auto;
  width: 25%;
  padding-bottom: 1.5rem;
}

.content2 img {
  height: auto;
  width: 100%;
}

.content2 .description {
  margin: 1rem;
}

.content2 span {
  margin: 0.5rem 0;
}

.content2 .mobileCourses {
  display: none;
}

@media only screen and (max-width: 480px) {
  .content2 {
    background-color: inherit;
  }

  .content2 .courses {
    display: none;
  }

  .content2 .mobileCourses {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .content2 .mobileCourse {
    background-color: rgb(216, 216, 216);
    margin: 0 1rem 0.5rem 1rem;
  }

  .mobileCourse h2 {
    margin: 1rem 0 1.5rem 1rem;
  }

  .content2 h1 {
    margin-bottom: 1rem;
  }
}

/* content3 */
.content3 {
  display: flex;
  background-color: rgb(243, 245, 245);
  margin: 0;
}

.thesis {
  padding: 2rem 0 2rem 1.5rem;
}

.thesis .mainheader {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}

.thesis .pageInfo h1 {
  margin-bottom: 0.5rem;
}

.content3 video {
  height: auto;
  width: 100%;
  margin-bottom: 1.5rem;
}

.content3 .infos {
  width: 60%;
  margin-right: 1.5rem;
}
 .content3 .info {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .content3 .sideInfo {
   width: 40%;
 }

 .content3 .info img {
   height: auto;
   width: 35%;
   margin: 1rem;
 }

.content3 .cont {
  width: 65%;

}

.content3 .fisma {
  background-color: rgb(216, 216, 216);
}

.content3 h2, .content3 p {
  margin-bottom: 0.5rem;
}

.thesisVid {
  display: none;
}

@media only screen and (max-width: 480px) {
  .content3 {
    display: none;
  }

  .thesis .mainheader {
    margin-bottom: 1rem;
  }

  .thesis {
    padding: 2rem 0 1.5rem 0;
  }

  .thesisVid {
    display: flex;
  }

  .thesisVid video {
    width: 100%;
    height: auto;
  }
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid rgb(216, 216, 216);
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer span {
  margin: 1rem 1.5rem;
}

@media only screen and (max-width: 480px) {
  footer div {
    display: none;
  }
}
