html {
  font-size: 16px;
  font-family: serif;
  color: rgb(74, 74, 74);
}

/* header */

header {
  display: flex;
  height: 4rem;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-left: 1.5rem;
}

header nav {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav span {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav .navBorder {
  border-right: 1rem solid rgb(149, 224, 223);
}

header nav .navMargin {
  margin-right: 1.5rem;
}

/* main banner */

.mainBanner {
  display: flex;
  margin-top: 4rem;
  background-color: rgb(216, 216, 216);
  align-items: center;
  color: rgb(74, 74, 74);
  font-size: 1.5rem;
}

.mainBanner h2, .mainBanner p, .button {
  margin-left: 1.5rem;
}

.mainBanner .imgBanner {
  height: auto;
  width: 60%;
  margin: 2rem 1.5rem;
}

.button {
  display: flex;
  background-color: rgb(74, 74, 74);
}

.button span {
  color: white;
  margin: 0.5rem auto;
}

/* content1 */

.content1 {
  display: flex;
  background-color: white;
  justify-content: space-around;
  margin: 0;
  padding: 2rem 1.5rem;
}

.content1 .imgInfo {
  height: auto;
  width: 100%;
}

.content1 .infos {
  width: 60%;
}
 .content1 .info {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .sideInfo {
   width: 40%;
 }

 .info img {
   height: auto;
   width: 35%;
   margin: 1rem;
 }

.content1 .cont {
  width: 65%;
}

.content1 h2, .content1 p {
  margin-bottom: 0.5rem;
}

.guest {
  background-color: rgb(216, 216, 216);
}

.content1 a {
  text-decoration: none;
  color: rgb(88, 151, 222);
}

/* content2 */

.content2 {
  background-color: rgb(216, 216, 216);
  padding-top: 2rem;
  margin: 0;
}

.content2 h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}

.content2 .courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 4.5rem;
  padding: 0;
}

.content2 .course {
  background-color: white;
  margin: 0 1rem 2rem 0;
  height:auto;
  width: 25%;
  padding-bottom: 1.5rem;
}

.content2 img {
  height: auto;
  width: 100%;
}

.content2 .description {
  margin: 1rem;
}

.content2 span {
  margin: 0.5rem 0;
}
